<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <title>Registration Form</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="formBody">
                <form action = '/process' method="post">
                    <h1>Registration Form</h1>
                    <p>Email:</p> <input type="trext" name="email" id="email"><br>
                    <p>First Name:</p> <input type="text" name="firstName" id="firstname"><br>
                    <p>Last Name:</p> <input type="text" name="lastName" id="lastname"><br>
                    <p>Password:</p> <input type="password" name="password" id="password"><br>
                    <p>Confirm Password:</p> <input type="password" name="confirmPassword">
                    <input type="submit" value="Submit Form" id="submit">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for i in messages %}
                                <p>{{i}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </body>
</html>