<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Projects</title>
    </head>
    <body>
        <h3>Heres a list of Projects that I worked on</h3>
        <ul>
            <li>Pokemon PokdeDex</li>
            <li>Game of Thrones</li>
            <li>Facebook(yes I created Facebook.....maybe)</li>
            <li>Portfolio Web Page</li>
        </ul>
    </body>
</html>