<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <title>Ninja</title>
    </head>
    <body>
        <h1>Here is some cool information about ninjas!</h1>
        <ul>
            <li>The word ninja means “a person who endures or spies.”</li>
            <li>“One night, under the cover of rain and wind, Hachiman-yama was approached by a highly skilled shinobi who set fire to the temple.”</li>
            <li>That was first mention of a ninja in history</li>
            <li>One the most famous ninja of all time was Hattori Hanzo, who was recruited by the Tokugawa family as a samurai general. </li>
            <li>Their clothes may have held a set of concealed weapons, but in general ninja looked like normal people.</li>
        </ul>
        <img src="{{url_for('static', filename='ninja.png')}}">
    </body>
</html>