<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Which Ninja</title>
    </head>
    <body>
        {% if choice == 'Blue' %}
            <img src="{{ url_for('static', filename='Leonardo.jpg') }}">
        {% elif choice == 'Red' %}
            <img src="{{ url_for('static', filename='Raphael.jpg') }}">
        {% elif choice == 'Orange' %}
            <img src="{{ url_for('static', filename='Michelangelo.jpg') }}">
        {% elif choice == 'Purple' %}
            <img src="{{ url_for('static', filename='Donatello.jpg') }}">
        {% else %}
            <img src="{{ url_for('static', filename='notapril.jpg') }}">
        {% endif %}
    </body>
</html>